.card {
    margin: 2px;
    width: 15rem;
}

.carousel-inner .row {
    display: flex;
    justify-content: center;
}

.carousel-container {
    border: 2px solid #007bff;
    padding: 10px;
    margin-top: 20px;
}

.carousel-item .card {
    width: 100%;
    border: none;
    margin-right: 10px;
}

.carousel-item .card img {
    width: 100%;
    height: auto;
}

.ketua-card {
    max-width: 15rem;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .carousel-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .carousel-container .carousel {
        flex: 1;
        margin-left: 20px;
    }

    .carousel-container .ketua-card {
        flex: 0 0 30%;
    }
}