body {
    margin-top: 0px;
    font-family: Arial, sans-serif;
}

.logo img {
    height: 100px;
}

/* Navbar Styles */

.navbar .nav-link {
    color: white !important;
}

.info-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #009b0f; /* Warna latar belakang yang disesuaikan */
    color: white; /* Warna teks yang disesuaikan */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px; /* Radius border untuk sudut yang melengkung */
}

.info-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.info-text {
    flex-grow: 1;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}
